.formContainer {
	background-color: var(--color_primary);
}

.form {
	display: flex;
	flex-direction: column;
	max-width: 40ch;
	gap: 0.8rem;
}

.form > h3 {
	background-color: red;
	color: white;
	align-self: center;
}

.form > input[type="submit"] {
	align-self: center;
}

.formContainer {
	padding: 2vw;
	display: flex;
	flex-direction: column;
	gap: 2vw;
}

.container > h2 {
	font-size: 2rem;
}

.form > input {
	margin-inline: 0.5rem;

}

.form input {
	padding: 0.3rem 0.8rem;
}

.form > fieldset {
	display: flex;
	gap: 3vw;
	padding: 0;
	border: none;
}

.form > fieldset > div {
}

.form > fieldset > div > input {
	width: 100%;
}	
