.container {
	background-color: var(--color_primary);
	padding: 5vh 8vw;
	position: relative;
}

.container > button {
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	background: none;
	border: none;
}

.container > button > img {
	width: 1.5rem;
	height: 1.5rem;
}

.form {
	display: flex;
	flex-direction: column;
}

.form > *::placeholder {
	opacity: 0.8;
	font-size: 0.9rem;
}
.form > textarea,
.form > input[type="text"] {
	border-radius: 6px;
	border: none;
	padding: 0.4rem 0.6rem;
	width: 100%;	
}

.submit {
	align-self: center;
}

.form > select {
	padding: 0.5rem 1.2rem;
	align-self: center;
	font-size: 1.2rem;
}

.form > select,
.form > textarea,
.form > input {
	margin-bottom: 1rem;
}


.form > textarea {
	resize: none;
	height: 20vh;
}
