.dialogContainer {
	position: fixed;
	background: none;
	inset: 0;
	z-index: 5;
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0,0,0,0.8);
}


.dialog {
	position: fixed;
	top: 50%;
	height: 60%;
	left: 5%;
	right: 5%;
	transform: translateY(-50%);
	display: flex;
	background: none;
	align-items: center;
}

.center {
	color: white;
	display: flex;
	
	align-items: stretch;
	align-content: center;
	z-index: 1;
}

.arrowContainer {
	position: relative;
}

.rightImage,
.leftImage {
	filter: brightness(0.5);
}

.leftImage,
.rightImage,
.centerImage {
	min-width: 0;
}

.centerImage {
	width: 50vw;
	max-width: 90vh;
}

.leftArrow {
	transform: translate(-100%, -50%) rotate(-180deg);
}

.rightArrow {
	transform: translateY(-50%);
}

.leftArrow,
.rightArrow {
	width: 10vw;
	position: absolute;
	top: 50%;

}

