.header {
	align-self: stretch;
	display: flex;
	justify-content: space-between;	
	padding: 0.5rem 1rem;
	background-color: var(--color_navbar);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

.navigation {
	display: flex;
	align-items: center;
	gap: 2vw;
}

.navigation > a {
	font-size: 1.1rem;
	border-radius: 10px;
	padding: 0.4rem 0.5rem;
	background-color: var(--color_contrast);

}

.logo {
	height: 3rem;
	padding: 0.5rem;
	background-color: var(--color_tertiary);
}

.logo > img {
	height: 100%;
}
