.note {
	background-color: white;
	color: black;
	display: flex;
	justify-content: space-between;
	padding: 2rem 2rem;
}

.title {
	display: flex;
	justify-content: space-between;
	background-color: var(--color_contrast);
	padding: 0.5rem 1.5rem;
	align-items: center;
}

.container h3:first-of-type {
	font-size: 1rem;
}

.title h3:last-of-type {
	border-radius: 5px;
	background-color: var(--color_primary);
	padding: 0.5rem;
	display:  block;
}

.dialogContainer {
	position: absolute;
	background: none;
	inset: 0;

}

.overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}


.dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	background: none;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.center {
	color: white;
	display: flex;
	align-items: center;
	margin-inline: -15vw;
}

.centerImage {
	width: 40vw;
	z-index: 5;
}

.leftArrow {
	transform: rotate(180deg);
}

.leftArrow,
.rightArrow {
	width: 5vw;
	height: 10vw;
}


.arrowContainer {
	align-self: stretch;
	z-index: 3;
	display: flex;
	align-items: center;
	padding-inline: 2vw;
}


.leftImage,
.rightImage {
	width: 30vw;
	z-index: 2;
	filter: brightness(0.5);
}

.images {
	
}	

.images > img {
	width: 5rem;
}
