html {
	font-size: calc(16px + 0.6vw);
}

:root {
	--color_tertiary: #558ED9;
	--color_secondary: #3C4359;
	--color_primary: #1F438C;
	--color_contrast: #1BA300;
}

body {
	/*Setting page background color*/
	background-color: var(--color_secondary);
	color: white;
	text-size-adjust: none;
}


.content-container {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.content {
	max-width: 90ch;
}



/* Cleaning up */
a {
	color: inherit;
	text-decoration-line: none;
	margin: none;
}


* {
	font-size: 1rem;
}

ul { 
	list-style: none;
	margin: 0px;
	padding-left: 0px;
}

body {
	margin: 0px;
}
