<div class="navbar-mobile-menu-container">
	<ul class="navbar-mobile-menu">
		<li><a href="/poznamky.html">Poznámky</a></li>
		<li><a href="/onas.html">O nás</a></li>
	</ul>

	<div class="navbar-mobile-menu-overlay">
</div>
</div>
<div class="navbar-mobile-container">
	<img class="navbar-mobile" src="images/hamburger.svg">	
	<div class="navbar-mobile-icon">
		<h1>FirstSumecPC</h1>
		<img src="/images/sumec.png">
	</div>
</div>

<div class="navbar-desktop-container">
	<ul class="navbar-desktop">
		<li><a href="/poznamky.html">Poznámky</a></li>
		<li><a href="/onas.html">O nás</a></li>
	</ul>
	<div class="navbar-desktop-icon">
		<h1>FirstSumecPC</h1>
		<img src="/images/sumec.png">
	</div>
</div>
