html {
	font-size: calc(13px + 0.8vw);
}

:root {
	--color_tertiary: #1a2036;
	--color_secondary: #433594;
	--color_primary: #1F438C;
	--color_contrast: #1BA300;
	--color_navbar: var(--color_primary);
	--color_background: var(--color_tertiary);
}

#app {
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

body {
	background-color: var(--color_tertiary);
	color: white;
}

* {
	font-size: 1rem;
	box-sizing: border-box;
}

/* Cleaning up */
button {
	background: none;
	border: none;
}

dialog {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

a {
	color: inherit;
	text-decoration-line: none;
	margin: none;
}

ul { 
	list-style: none;
	margin: 0;
	padding-left: 0;
}

body {
	margin: 0;
}
