.index {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.button {
	border-radius: 12px;
	width: 4rem;
	height: 4rem;
	font-size: 3rem;
	border: none;
	background-color: var(--color_contrast);
	color: white;
	font-weight: bold;
}

.cta > label {
	font-size: 1.5rem;
}

.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 2vw;
	background-color: var(--color_secondary);
}
