html {
	font-size: calc(16px + 0.6vw);
}

:root {
	--color_tertiary: #558ED9;
	--color_secondary: #3C4359;
	--color_primary: #1F438C;
	--color_contrast: #1BA300;
}

body {
	/*Setting page background color*/
	background-color: var(--color_secondary);
	color: white;
	text-size-adjust: none;
}

.error {
	font-size: 100px;
}
